{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}


<!-- News headlines -->
<br><br><br><br>
<div id="#">
    <div class="container">
        <h4 class="ui horizontal divider header">
            <i class="newspaper icon" style="color: blue"></i>
            Top news sources
        </h4>
        <br>
    </div>

    <div class="container">

        <div class="row">
            {{ macro.displaySourcesList(source)}}

        </div>

    </div>

</div>

{% endblock%}