{% macro displaySourcesList(sources) %}
{% for sources in sources%}

<style>
   div{
        padding: 2%;
    }
    .btn{
        border-radius:20px;
    }
</style>
<div class="col-md-3">
    <div class="card">
        <div class="text-center text-danger"> {{sources.name}}</div>
        <div class="text-center">
            <p>{{sources.description | truncate(90)}}</p>
        </div>
            
        <div class="text-center">
                <button type="button" class="btn btn-warning">
                    <a href="{{sources.url}}" style="color: black"> Visit</a>
                </button>
        </div>
    </div>
</div>
{% endfor %}

{% endmacro %}
